@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 & family= Rubik+Iso & display= troca');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100 & family= Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 & família= Rubik+Iso & display=swap');

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:#000;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 5% 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    color: #F6F6F6;
    font-family:'Roboto Condensed', sans-serif;
}
        

.apresentacao__paragrafo{
    font-size: 24px;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}
.apresentacao__links__link{
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 21.5px 0;
    color: #000;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    
}

.apresentacao__links__link:hover{
    font-size: 32px;
    background-color: #F6F6F6;
    color: #22D4FD;
}


